<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/explore.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/a02c21629a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/users/login" class="nav-link">
                    <i class="fa-solid fa-house fa-2xl"></i>
                    <br>
                    <span class="barlink-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <form action="/users/profile" method="post" style="display:inline;">
                    <div th:each="user:${username}">
                        <input type="hidden" id="username" name="username" th:value="${username.name}"></a>
                    </div>
                    <button type="submit" class="nav-link">
                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Profile</span>
                    </button>
                </form>
            </li>

            <li class="nav-item">
                <form action="/users/explore" method="post">
                    <div th:each="user:${username}">
                        <input type="hidden" id="username" name="username" th:value="${username.name}"></a>
                    </div>
                    <button type="submit" class="nav-link">
                        <i class="fa-solid fa-compass fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Explore</span>
                    </button>
                </form>
            </li>
            
            <li>
                <a href="/users/announcements" class="nav-link">
                    <i class="fa-solid fa-scroll fa-2xl"></i>
                    <br>
                    <span class="barlink-text">Bulletin</span>
                </a>
            </li>

            <div class="nav-items-bottom">
                <li class="nav-item">
                    <a href="/feedback.html" class="nav-link">
                        <i class="fa-regular fa-star fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Feedback</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/team.html" class="nav-link">
                        <i class="fa-solid fa-people-group fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Team</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/privacypolicy.html" class="nav-link">
                        <i class="fa-solid fa-shield-halved fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Privacy</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Logout</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>

    <main>
        <header>
            <a href="/users/login">
                <img src="/img/vibelogo.png" alt="Vibe Logo" id="vibelogo">
            </a>
            <h1><b>Let's Explore!</b></h1>

            <div class="dropdown">
                <button class="slider-btn"><i class="fa-solid fa-sliders" id="dropbtn" onclick="toggleDropdown()" style="cursor: pointer;"></i></button>
                <div class="dropdown-content" id="dropdown-content">
                    <div>
                        Min Age: <input type="number" id="min-age-input" placeholder="Min Age" value="0">
                    </div>
                    <div>
                        Max Age: <input type="number" id="max-age-input" placeholder="Max Age" value="100">
                    </div><br>
                    <button onclick="filter()" id="applybtn">Apply</button>
                </div>
            </div>

            <form th:action="@{/search}" th:method="post" id="search-bar">
                <input type="text" id="search-bar-input" name="input" placeholder="Search Profiles">
                <button type="submit">Search</button>
            </form>
            <div class="filter-container">
                <b><h5>Location:</h5></b>
                <div class="locations">
                    <div class="checkbox"><label><input type="checkbox" rel="Abbotsford" onchange="filter();">Abbotsford</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Burnaby" onchange="filter();">Burnaby</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Coquitlam" onchange="filter();">Coquitlam</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Langley" onchange="filter();">Langley</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Richmond" onchange="filter();">Richmond</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Surrey" onchange="filter();">Surrey</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Vancouver" onchange="filter();">Vancouver</label></div>
                </div>
            </div>
        </header><br>
       
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 mb-5">
                    <div class="profiles-container d-flex flex-wrap justify-content-center">
                        <div th:each="musician : ${profiles}" class="col-md-3 mb-5" id="musician-container">
                            <div class="profile-tile" style="background-color: blanchedalmond; border: 2px solid grey; padding: 40px; border-radius: 10px; width: 230px; text-align: left; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" data-tilt>  
                                <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
                                    <img th:src="@{/user/image/{userId}(userId=${musician.uid})}" id="user-pic" style="max-width: 100%; max-height: 100%; border-radius: 50%; object-fit: cover;">
                                </div>
                            <b><p th:text="${musician.name}" style="font-size: larger; margin-bottom: 5px;"></p></b>
                            <b><p id="age" th:text="'Age: ' + ${musician.age}" style="margin-bottom: 3px;"></p></b>
                            <p style="display:none;" id="profAge" th:text="${musician.age}"></p>                           
                            <p id="city" th:text="${musician.cityName}" style="margin-bottom: 3px; font: italic;"></p>
                            
                            <div th:each="genre : ${musician.genres}" style="margin-bottom: 4px;"></div><br>
                            <p style="margin-bottom: 3px;"><b><u>Top 3 Artists:</u></b>
                                <p th:text="${musician.top1Artist}" style="margin-bottom: 3px;"></p>
                                <p th:text="${musician.top2Artist}" style="margin-bottom: 3px;"></p>
                                <p th:text="${musician.top3Artist}" style="margin-bottom: 3px;"></p>
                            </p>
                            <p style="margin-bottom: 5px;"><b>Host:</b>
                                <b><label id="host-label" th:text="${musician.host ? 'Yes' : 'No'}"></label></b>
                            </p> 
                            <div class="extendedBtn">
                                <form action="/extendedView" method="post" style="display:inline;">
                                    <div th:each="user:${username}">
                                        <input type="hidden" id="username" name="username" th:value="${username.name}"></a>
                                    </div>
                                    <input type="hidden" id="explorename" name="explorename" th:value="${musician.name}"></a>
                                    <button type="submit" class="btn" id="extendedBtn">View Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


     
    </main>

    <script>

        function hostLabelColor() {
            var profileTiles = document.querySelectorAll('.profile-tile');

            profileTiles.forEach(function(profileTile) {
                var hostLabel = profileTile.querySelector('#host-label');
                var isHost = hostLabel.textContent.trim() === "Yes";
                var backgroundColor = isHost ? "lightgreen" : "lightcoral";
                hostLabel.style.backgroundColor = backgroundColor;
            });
        }

        window.onload = function() {
            hostLabelColor();
        };



        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdown-content");
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        }

        function filter() {
            var checkBoxes = document.querySelectorAll('.locations input[type="checkbox"]');
            var selectedLocations = [];
            
            checkBoxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    selectedLocations.push(checkbox.getAttribute('rel'));
                }
            });

            var minAgeInput = document.getElementById("min-age-input").value;
            var maxAgeInput = document.getElementById("max-age-input").value;
            var minAge = parseInt(minAgeInput);
            var maxAge = parseInt(maxAgeInput);

            if (isNaN(minAge) || isNaN(maxAge) || minAge > maxAge) {
                alert("Please enter valid age range.");
                return; 
            }
            display(selectedLocations, minAge, maxAge);
        }

        function display(selectedLocations, minAge, maxAge) {
            var profiles = document.querySelectorAll('.profiles-container #musician-container');
            
            profiles.forEach(function(profile) {
                var city = profile.querySelector('#city').textContent.trim();
                var age = parseInt(profile.querySelector('#profAge').textContent.trim());

                var locationMatch = selectedLocations.length === 0 || selectedLocations.includes(city);
                var ageMatch = age >= minAge && age <= maxAge;

                if (locationMatch && ageMatch) {
                    profile.style.display = 'block';
                } else {
                    profile.style.display = 'none';
                }
            });
        }

    </script>
    
    <footer>
        © Vibe 2024
    </footer>

    <script src="/js/exploreLogic.js"></script>
    <script type="text/javascript" src="/js/tile-tilt.js"></script>
</body>
</html>