<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/extendedView.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/a02c21629a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-house fa-2xl"></i>
                    <br>
                    <span class="barlink-text">Home</span>
                </a>
            </li>
            <div class="nav-items-bottom">
                <li class="nav-item">
                    <a href="feedback.html" class="nav-link">
                        <i class="fa-regular fa-star fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Feedback</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="team.html" class="nav-link">
                        <i class="fa-solid fa-people-group fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Team</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="privacypolicy.html" class="nav-link">
                        <i class="fa-solid fa-shield-halved fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Privacy</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">
                        <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Logout</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
    <main>
        <header>
            <a href="/">
                <img src="img/vibelogo.png" alt="Vibe Logo" id="vibelogo">
            </a>
            <h1><b>User Details</b></h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h2 th:text="${exview.name}"></h2>
                                <h3 th:text="${exview.cityName}"></h3>
                            </div>
                            <div class="card-info">
                                <div class="instrument">
                                    <h3>Instrument:</h3>
                                    <div class="info-container">
                                        <p th:text="${exview.instrument}"></p>
                                    </div>
                                </div>
                                <div class="genre">
                                    <h3>Genre:</h3>
                                    <div class="info-container">
                                        <p th:text="${exview.genres}"></p>
                                    </div>
                                </div>
                                <div class="artist">
                                    <h3>Artist:</h3>
                                    <div class="info-container">
                                        <p th:text="${exview.top1Artist}"></p>
                                        <p th:text="${exview.top2Artist}"></p>
                                        <p th:text="${exview.top3Artist}"></p>
                                    </div>
                                </div>
                                <div class="host">
                                    <h3>Host:</h3>
                                    <div class="host-container">
                                        <p th:text="${exview.host}"></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
            
</body>
</html>