:root {
    font-size: 16px;
    --bg-primary: beige;
    --bg-secondary: #8a7cc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(beige, rgb(213, 213, 191));
    color: #000000;
    text-align: center;
}

footer {
    height: 30px;
    background: white;
    border: 3px solid black;
    border-style: solid none none none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

header {
    padding: 20px;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: width 0.3s ease;
    min-width: 250px;
}
#vibelogo:hover {
    transform: scale(1.15);
}

/* search bar */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    border: solid 1px black;
}

#searchbar {
    flex-grow: 1;
    border: none;
    padding: 10px;
}
#searchbar:focus {
    outline: none;
}

#searchbar-submit {
    padding: 10px;
    color: white;
    background-color: var(--bg-secondary);
    border: none;
}
/* end of search bar */

#addannouncementbtn {
    position: fixed;
    bottom: 35px;
    right: 35px;
}

#addannouncementbtn .btn {
    background-color: #8a7cc5;
    border-radius: 50%;
    border: solid 2px black;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addannouncementbtn .btn:hover {
    background: #6e639d;
}

#addannouncementbtn .fa-solid {
    color: beige;
}

#backbtn {
    background-color: #8a7cc5;
    border-color: #8a7cc5;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease;
}

#backbtn:hover {
    background-color: #6e639d;
}

#backbtn:active {
    background-color: #524874;
    color: white;
}

#add-anno {
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
}

#announcements-container {
    background-color: rgba(255, 255, 255, 0.127);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin: 0 50px 50px 50px;
    padding: 20px 0;
}

#indiv-anno {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 80%;
    position: relative;
}

#xBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    color: red;
    background: black;
    font-size: 24px;
}

#anno-title {
    display: inline-block;
    padding: 0 10px 0 10px;
    background-color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

#anno-text {
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

#anno-image-container {
    display: inline-flex;
    justify-content: center;
    border: solid 1px;
    border-color: var(--bg-primary);
}

#anno-image {
    max-width: 300px;
    height: auto;
}

#anno-footer {
    outline-color: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#anno-date {
    color: var(--bg-primary);
    align-self: center;
    font-size: 14px;
}

#anno-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    font-size: 14px;
    margin-bottom: 10px;
}

#uploader-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-secondary);
}

#anno-date, #anno-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#addannouncementbtn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.textareaElement {
    text-align: left;
}

#logoutbtn {
    background-color: var(--bg-secondary);
    font-size: 20px;
    border-color: var(--bg-secondary);
    position: absolute;
    top: 10px;
    right: 10px;
}
a {
    text-decoration: none;
}
#logoutbtn:hover {
    background-color: #6b5f98;
}
#logoutbtn:active {
    background-color: #4a3f6f;
    color: white;
}