
.dropdown-content {
    display: none;
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: 1;
    background-color: #c3b7f2;
    width: 300px;
    padding: 20px 20px;
    border-radius: 6px;
    border: 2px #937fe0; 
    font-weight: bold;
    
}

#applybtn {
    width: 50%; 
    padding: 10px 0; 
    background-color: #741eff;
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}


#applybtn:hover {
    background-color: #5922ff;;
}


.slider-btn {
    border: none;
    margin-right: 1.5rem;
    float: right;
    padding: 5px 10px;
    border-radius: 20px;
    background: #8a7cc5;
    color: #fff;
    transition: background 0.3s ease;
}

.slider-bt:hover {
    background: #6e639d;
}



:root {
    font-size: 16px;
    --bg-primary: beige;
    --bg-secondary: #8a7cc5;
}

.filter-container {
    position: fixed;
    top: 270px; 
    left: 130px; 
    font-weight: bold;

    display: block;
    padding: 30px;
    background-color: #c3b7f2;
    box-shadow: #6649b8 0 0 0 5px;
    align-items: left;
    border-radius: 10px;
}


.profiles-container {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 15rem;
    margin-top: 2rem;
}



main {
    margin-left: 5rem;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: width 0.3s ease;
    min-width: 250px;
}
#vibelogo:hover {
    transform: scale(1.15);
}

#search-bar {
    margin-right: 5rem;
    float: right;
}
#searchbtn {
    padding: 5px 10px;
    border-radius: 20px;
    background: #8a7cc5;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

#searchbtn:hover {
    background: #6e639d;
}


#host-label {
    display: inline-block;
    padding: 5px 10px; 
    border: 2px solid #ffffffea; 
    border-radius: 5px; 
    cursor: default;
    background-color: #c3b7f2;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-size: 200% 200%;
    background-image: linear-gradient(60deg, #f9daff, var(--bg-primary), var(--bg-secondary));
    color: #000000;
    text-align: center;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

header {
    padding: 20px;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer {
    height: 30px;
    background: white;
    border: 3px solid black;
    border-style: solid none none none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    background: #8a7cc5;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #6e639d;
    color: #fff;
}

#buttoncontainer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-tile {
    width: 45%;
    margin: 2.5%;
    border-radius: 15px;
    transition: transform .2s;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px 10px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, rgb(222, 204, 177), blanchedalmond);
    perspective: 1000px;
}
.profile-tile:hover {
    transform: scale(1.05);
}

/* font awesome */

.fa-house, .fa-star, .fa-people-group, .fa-shield-halved, .fa-right-from-bracket, .fa-circle-user, .fa-scroll, .fa-compass{
    color:beige;
}

#user-pic{
    border-radius: 50%;
    width: 100px; /* Adjust to your preference */
    height: 100px; /* Adjust to your preference */
    object-fit: cover;
    margin-right: 10px;
}