.slider-btn {
    border: none;
    margin-right: 1.5rem;
    float: right;
    padding: 5px 10px;
    border-radius: 20px;
    background: #8a7cc5;
    color: #fff;
    transition: background 0.3s ease;
}

.slider-bt:hover {
    background: #6e639d;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding: 5 10px;
}


input[type=range] {
    box-sizing: border-box;
    appearance: none;
    width: 400px;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(grey, grey) no-repeat center;

    background-size: 100% 2px;
    pointer-events: none;
 
    &:active,
    &:focus {
       outline: none;
    }
 
    &::-webkit-slider-thumb {
       height: 28px;
       width: 28px;
       border-radius: 28px;
       background-color:#4c358b;
       position: relative;
       margin: 5px 0;
       appearance: none;
       pointer-events: all;
       box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
       &::before {
             content: ' ';
             display: block;
             position: absolute;
             top: 13px;
             left: 100%;
             width: 2000px;
             height: 2px;
       }
    }
 }
 
 .multi-range {
    position: relative;
    height: 50px;
 
    input[type=range] {
       position: absolute;
       
       &:nth-child(1) {
          &::-webkit-slider-thumb::before {
             background-color: red;
          }
       }
 
       &:nth-child(2) {
          background: none;
 
          &::-webkit-slider-thumb::before {
              background-color: grey; 
          }
       }
    }
 }





:root {
    font-size: 16px;
    --bg-primary: beige;
    --bg-secondary: #8a7cc5;
}

.filter-container {
    position: fixed;
    top: 270px; 
    left: 130px; 

    display: block;
    padding: 30px;
    background-color: #c3b7f2;
    box-shadow: #6649b8 0 0 0 5px;
    align-items: left;
    border-radius: 10px;
}


.profiles-container {
    font-family:Arial, Helvetica, sans-serif
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 15rem;
    margin-top: 2rem;
}



main {
    margin-left: 5rem;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: width 0.3s ease;
    min-width: 250px;
}
#vibelogo:hover {
    transform: scale(1.15);
}

#search-bar {
    margin-right: 5rem;
    float: right;
}
#searchbtn {
    padding: 5px 10px;
    border-radius: 20px;
    background: #8a7cc5;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

#searchbtn:hover {
    background: #6e639d;
}


#host-label {
    display: inline-block;
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #eae6ff;
    cursor: default;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(beige, rgb(213, 213, 191));
    color: #000000;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

header {
    padding: 20px;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer {
    height: 30px;
    background: white;
    border: 3px solid black;
    border-style: solid none none none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    background: #8a7cc5;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #6e639d;
}

#buttoncontainer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* font awesome */

.fa-house, .fa-star, .fa-people-group, .fa-shield-halved, .fa-right-from-bracket, .fa-circle-user, .fa-scroll, .fa-compass{
    color:beige;
}

#user-pic{
    border-radius: 50%;
    width: 100px; /* Adjust to your preference */
    height: 100px; /* Adjust to your preference */
    object-fit: cover;
    margin-right: 10px;
}