body {
    background-color: #f8f9fa;
  }
  
  .card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .instruments,
  .genres {
    margin-bottom: 20px;
  }
  
  .badge {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .top-artists {
    margin-top: 20px;
  }
  
  .host {
    font-weight: bold;
    margin-top: 20px;
  }