:root {
  font-size: 16px;
  --bg-primary: beige;
  --bg-secondary: #8a7cc5;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
}

.card-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.instrument,
.genre,
.artist,
.host {
  text-align: center;
}

.artist-container{
  margin-bottom: 10px;

}

.container {
  margin-bottom: 50px;
}

.info-container,
.host-container {
  background-color: #8a7cc5;
  color: beige;
  padding: 10px;
  border-radius: 5px;
}



#username {
  color: #8a7cc5;
}

/* .album-cover {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
} */

#logos {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: width 0.3s ease;
  min-width: 100px;
}
#logos:hover {
  transform: scale(1.20);
}

#backbtn {
  margin-left: 100px;
  border-color: var(--bg-secondary);
}
#backbtn:active {
  background-color: #4b436b;
}

.info-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.artist .info-container {
  display: flex;
  justify-content: space-between;
}

.artist-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-pic{
  border-radius: 50%;
  width: 100px; /* Adjust to your preference */
  height: 100px; /* Adjust to your preference */
  object-fit: cover;
  margin-right: 10px;
}