:root {
    font-size: 16px;
    --bg-primary: beige;
    --bg-secondary: #8a7cc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 5rem;
}

@keyframes floatNoteDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

@keyframes floatNoteLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100vw); }
}

@keyframes floatNoteUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100vh); }
}

@keyframes floatNoteRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(100vw); }
}

@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url('/img/assets/bggif_2.gif') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-size: 200% 200%;
    background-image: linear-gradient(60deg, #f9daff, var(--bg-primary), var(--bg-secondary));
    color: #000000;
    text-align: center;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

header {
    padding: 20px;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: width 0.3s ease;
    min-width: 250px;
}
#vibelogo:hover {
    transform: scale(1.15);
}

#hereyoucan {
    border-radius: 15px;
    transition: transform .2s;
    overflow: hidden;
    perspective: 1000px;
}
#hereyoucan:hover, #loginorregister:hover {
    transform: scale(1.05);
}

p {
    font-size: 1.2rem;
}

footer {
    height: 30px;
    background: white;
    border: 3px solid black;
    border-style: solid none none none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 30px;
    background: #8a7cc5;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #6e639d;
}

.float-container {
    margin-top: 4vh;
    margin-bottom: 30px;
}

.container-fluid {
    display: flex;
    column-gap: 20px;
}

.profile-tile {
    width: 45%;
    margin: 2.5%;
    border-radius: 15px;
    transition: transform .2s;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px 10px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, rgb(222, 204, 177), blanchedalmond);
    perspective: 1000px;
}
.profile-tile:hover {
    transform: scale(1.05);
}

#hereyoucan {
    margin: 20px 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

#buttoncontainer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginorregister {
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    width: 200px;
}

#loginorregister p {
    margin: auto;
    text-align: center;
}

#login:hover, #register:hover {
    color: var(--bg-secondary)
}

#explorebutton {
    font-size: 30px;
    color: white;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}
#explorebutton:hover {
    background-color: transparent;
    color: var(--bg-secondary);
    box-shadow: 0 0 0 10px var(--bg-secondary);
}

#loginname {
    color: var(--bg-secondary);
}

@media screen and (max-width: 861px) {
    #homebody {
        margin-bottom: 30px;
    }
    #leftcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 250px;
    }
    #loginorregister {
        font-size: 2vw;
        margin-left: 10px;

    }
    #explorebutton {
        font-size: 3vw;
    }
}

#loginorregister {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: #333; 
}

#slide-container {
    font: 'Arial';
}

#usercount {
    color: #5a4e8b;
}

/* font awesome */

.fa-house, .fa-circle-user, .fa-star, .fa-people-group, .fa-shield-halved, .fa-right-from-bracket, .fa-scroll{
    color:beige;
}

#user-pic{
    border-radius: 50%;
    width: 80px; /* Adjust to your preference */
    height: 80px; /* Adjust to your preference */
    object-fit: cover;
    margin-right: 10px;
}