:root {
    font-size: 16px;
    --bg-primary: beige;
    --bg-secondary: #8a7cc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-size: 200% 200%;
    background-image: linear-gradient(60deg, #f9daff, var(--bg-primary), var(--bg-secondary));
    color: #000000;
    text-align: center;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

header {
    padding: 20px;
}

a {
    text-decoration: none;
}

footer {
    height: 30px;
    background: white;
    border: 3px solid black;
    border-style: solid none none none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#vibelogo {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: width 0.3s ease;
    min-width: 250px;
}
#vibelogo:hover {
    transform: scale(1.15);
}

.btn {
    background-color: var(--bg-secondary);
    color: white;
    border-style: none;
}
  
.btn:hover {
    background-color: #6b5f98;
    color: white;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

#logoutbtn {
    margin-bottom: 50px;
}

#submitbtn:active, #forgotbtn:active, #teambackbtn:active, #privbackbtn:active, #logoutbtn:active, #delannobtn:active {
    background-color: #524874;
    color: white;
}

#registerfailed, #loginfailed, #deletionfailed {
    color: red;
}

#registersuccess {
    color: green;
}

.my-list {
    list-style-position: inside;
    padding-left: 0;
}

.btn-danger {
    background-color: #b62945;
    color: white;
    border-style: none;
}
.btn-danger:hover {
    background-color: #891e34;
    color: white;
    border-style: none;
}