.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding-top: 10px; /* To avoid overlapping with the navbar if it's fixed */
    padding-bottom: 60px; /* If you have a footer or want some space at the bottom */
   
}

.container {
    width: 50%; /* Adjust width as needed */
    padding: 20px; /* Padding inside the container */
    /* Your other styles for .container */
    background-color: rgb(219, 215, 208);
    border-radius: 30px; 
}

.group{
    text-align: left;
    display: grid;
    grid-template-areas:
    'header  header header'
    'main main  image'
    'artist  artist artist'
    'host host host';
    gap: 10px;
    padding: 10px;


}

.detailed{
    grid-area: main;
}

.profileimage{
    grid-area: image;
}

.artist{
    grid-area: artist;
}

.hostandSubmit{
    grid-area: host;
    text-align: right;
}


/* 
.info{
    display: block;
    margin-bottom: 5px;
} */

.group img{
    width: 230px;
    height: 230px;
    border-radius: 60% ;
    margin-top: 20px;
    margin-left: 5px;

}

.uploadimage{

    width: 230px;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    margin-left: 5px;
}

.imagefile{
    display: none;
}


