:root {
    font-size: 16px;
    --bg-primary: beige;
    --bg-secondary: #8a7cc5;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding-top: 10px; /* To avoid overlapping with the navbar if it's fixed */
    padding-bottom: 60px; /* If you have a footer or want some space at the bottom */
   
}

.container {
    width: 50%; /* Adjust width as needed */
    padding: 20px; /* Padding inside the container */
    /* Your other styles for .container */
    background-color: rgb(219, 215, 208);
    border-radius: 30px; 
}

.group{
    text-align: left;
    display: grid;
    grid-template-areas:
    'header  header header'
    'main main  image'
    'artist  artist artist'
    'host host host';
    gap: 10px;
    padding: 10px;


}

.detailed{
    grid-area: main;
}

.profileimage{
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist{
    grid-area: artist;
}

.hostandSubmit{
    grid-area: host;
    text-align: right;
}


/* 
.info{
    display: block;
    margin-bottom: 5px;
} */

.group img{
    width: 230px;
    height: 230px;
    border-radius: 60% ;
    margin-top: 20px;
    margin-left: 5px;

}

.uploadimage {
    width: 230px;
    background: linear-gradient(to right, var(--bg-secondary) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-out;
    border: solid 5px var(--bg-secondary);
    color: var(--bg-secondary);
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    margin-left: 5px;
}

.uploadimage:hover {
    background-position: left bottom;
    color: white;
}

.imagefile{
    display: none;
}

#instrumentDropdown, #genreDropdown {
    display: none;
    position: absolute;
    max-height: 6em; /* fit 3 lines of text */
    overflow-y: auto;
    width: 15vw;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 1px solid black;
}
#instrumentDropdown div, #genreDropdown div {
    padding: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
}
#instrumentDropdown div:hover, #genreDropdown div:hover {
    color: white;
    background-color: var(--bg-secondary);
}

