<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/extendedViewPage.css}">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title" th:text="${user.name}"></h1>
            <p class="card-text" th:text="'Age: ' + ${user.age}"></p>
            <p class="card-text" th:text="'City: ' + ${user.cityName}"></p>
            <div class="instruments">
              <span class="badge badge-secondary" th:text="${user.instrument}"></span>
            </div>
            <div class="genres">
              <span class="badge badge-secondary" th:each="genre : ${#strings.arraySplit(user.genres, ',')}" th:text="${genre}"></span>
            </div>
            <div class="top-artists">
              <p class="card-text">Top Artists:</p>
              <ol class="list-group">
                <li class="list-group-item" th:text="${user.top1Artist}"></li>
                <li class="list-group-item" th:text="${user.top2Artist}"></li>
                <li class="list-group-item" th:text="${user.top3Artist}"></li>
              </ol>
            </div>
            <p class="card-text host" th:text="'Host: ' + (${user.host} ? 'Yes' : 'No')"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>