<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/explore.css">
    <script src="https://kit.fontawesome.com/a02c21629a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fa-solid fa-house fa-2xl"></i>
                    <br>
                    <span class="barlink-text">Home</span>
                </a>
            </li>
            <div class="nav-items-bottom">
                <li class="nav-item">
                    <a href="feedback.html" class="nav-link">
                        <i class="fa-regular fa-star fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Feedback</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="team.html" class="nav-link">
                        <i class="fa-solid fa-people-group fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Team</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="privacypolicy.html" class="nav-link">
                        <i class="fa-solid fa-shield-halved fa-2xl"></i>
                        <br>
                        <span class="barlink-text">Privacy</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>


    <main>
        <header>
            <a href="/">
                <img src="img/vibelogo.png" alt="Vibe Logo" id="vibelogo">
            </a>
            <h1><b>Let's Explore!</b></h1>
            <form th:action="@{/search}" th:method="post" id="search-bar">
                <input type="text" id="search-bar-input" name="input" placeholder="Search Profiles">
                <button type="submit">Search</button>
            </form> 
            <div class="filter-container">
                <b><h5>Location:</h5></b>
                <div class="locations">
                    <div class="checkbox"><label><input type="checkbox" rel="Burnaby" onchange="filter();">Burnaby</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Vancouver" onchange="filter();">Vancouver</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Richmond" onchange="filter();">Richmond</label></div>
                    <div class="checkbox"><label><input type="checkbox" rel="Surrey" onchange="filter();">Surrey</label></div>
                </div>
            </div>
        </header><br>
       
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 mb-5">
                    <div class="profiles-container d-flex flex-wrap justify-content-center">
                        <div th:each="musician : ${profiles}" class="col-md-3 mb-5" id="musician-container">
                           <div style="background-color: blanchedalmond; border: 2px solid grey; padding: 15px; border-radius: 10px; width: 180px; text-align: left; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); ">  
                                <!-- <img src="@{/user/image/{userId}(userId=${musician.uid})}" alt="User Image" id="profile-image"> -->
                                <b><p th:text="${musician.name}" style="font-size: larger;"></p></b>
                                <p id = city th:text="${musician.cityName}"></p>
                                <div th:each="genre : ${musician.genres}"></div><br>
                                <p>Top 3 Artist: 
                                    <p th:text="${musician.top1Artist}"></p><br>
                                    <p th:text="${musician.top2Artist}"></p><br>
                                    <p th:text="${musician.top3Artist}"></p>
                                </p>
                                <p>Host: 
                                    <b><label id="host-label" th:text="${musician.host ? 'Yes' : 'No'}"></label></b>
                                </p> 
                                <div class = "extendedBtn">
                                    <a th:href="@{/extendedView(name=${musician.name})}">
                                        <button class="btn" id="extendedBtn">View Profile</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

     
    </main>
    
    <script>
        function filter() {
            var checkBoxes = document.querySelectorAll('.locations input[type="checkbox"]');
            var selectedLocations = [];

            checkBoxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    selectedLocations.push(checkbox.getAttribute('rel'));
                }
            });

            display(selectedLocations);
        }

        function display(selectedLocations) {
            var profiles = document.querySelectorAll('.profiles-container #musician-container');
            profiles.forEach(function(profile) {
                var city = profile.querySelector('#city').textContent.trim();
                // length == 0 means nothing selected
                if (selectedLocations.length === 0 || selectedLocations.includes(city)) {
                    profile.style.display = 'block'; // profile is block-level element 
                } else {
                    profile.style.display = 'none'; // hides profile
                }
            });
        }

    </script>

    <footer>
        © Vibe 2024
    </footer>

    <script src="/js/exploreLogic.js"></script>
</body>

</html>
